@model TransferenciaObjetos.Projeto

<div class="col-lg-12">
    <h2>Exclusão</h2>
    <ol class="breadcrumb">
        <li><a href='@Url.Action("Index")'>Projetos</a></li>
        <li class="active">Excluir</li>
    </ol>
    <div class="alert alert-warning">Você realmente deseja excluir este registro?</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Projetos
        </div>
        <div class="panel-body">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Meta)
                </dt>
                @if (Model.Meta.Codigo != 0)
                {
                    <dd>@Html.DisplayFor(model => model.Meta.Descricao)</dd>
                }
                else
                {
                    <dd>Meta não informada</dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.HorasGerente)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasGerente)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HorasCoordenador)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasCoordenador)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HorasConsultor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HorasConsultor)
                </dd>
            </dl>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Excluir" class="btn btn-info" />
        |
        @Html.ActionLink("Pesquisar", "Index")
    </p>
}


